# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Linux Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install PySide2 psutil pyinstaller
    - name: PyInstaller
      run: |
        pyinstaller socket_test.spec
        cp mainwindow.ui ./dist/socket_test/
        cp -rf res ./dist/socket_test
    - name: Archive built module
      uses: actions/upload-artifact@v2
      if: success()
      with:
        name: socket-test_linux
        path: ./dist/socket_test
